.header {
    margin: $s-size;
    padding-bottom: $s-size;
    border-bottom: 1px solid darken(grey, 10%);
    @media(min-width: $desktop-breakpoint) {
        margin: $m-size;
        padding-bottom: $m-size;
    }
}
.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__title {
    color: white;
    text-decoration: none;
}
